<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nombre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- MainActivity: La actividad principal, que será la primera pantalla -->
        <activity android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GameActivity: Actividad para jugar -->
        <activity android:name=".GameActivity"
            android:label="Game"
            android:exported="true" />

        <!-- RankingActivity: Actividad para ver el ranking -->
        <activity android:name=".RankingActivity"
            android:label="Ranking"
            android:exported="true" />

        <!-- UserProfileActivity: Actividad para ver el perfil de usuario -->
        <activity android:name=".UserProfileActivity"
            android:label="User Profile"
            android:exported="true" />

    </application>

</manifest>
